{% extends "auctions/layout.html" %}

{% block body %}
    <div class="mb-4">
        <h2>Listing</h2>
    </div>

    {% if message %}
        <p class="text-center text-danger mb-3">{{ message }}</p>
    {% endif %}

    <div class="row g-0">

        <!--Listing Details-->
        <div class="col-8 p-2">
            <div class="card">
                <div class="card-header d-flex flex-row justify-content-between align-items-center">
                    <h4>{{ listing.title }}</h4>
                    <a class="btn btn-sm btn-primary" href="{% url 'to_watchlist' listing.id %}">
                        {% if watchlisted %}
                            Remove from watchlist
                        {% else %}
                            Add to watchlist
                        {% endif %}
                    </a>
                </div>
                {% if listing.image_url %}
                    <img src="{{ listing.image_url }}" class="d-block mx-auto" alt="Listing" style="max-width:250px;">
                {% endif %}
                <div class="card-body">
                    <p class="card-text">{{ listing.description }}</p>
                    <h4>Price: ${{ listing.current_price }}</h4>
                    <p>
                        {% if listing.is_active %}
                            <span class="badge text-bg-success">Active</span>
                        {% else %}
                            <span class="badge text-bg-warning">Inactive</span>
                        {% endif %}
                    </p>
                    <form action="">
                        <div class="input-group mb-3">
                            <input type="number" class="form-control" placeholder="Bid" id="bid" name="bid" required />
                            <button class="btn btn-primary" type="submit">Place bid</button>
                        </div>
                    </form>
                    
                    <h5>Listing Details</h5>
                    <ul>
                        <li><strong>Listed by:</strong> {{ listing.user }}</li>
                        <li><strong>Category:</strong> {% if listing.category %}{{ listing.category }}{% else %}No category{% endif %}</li>
                        <li><strong>Created at:</strong> {{ listing.created_at }}</li>
                    </ul>
                </div>
            </div>
        </div>

        <!--Comments-->
        <div class="col-4 p-2">
            <div class="card">
                <div class="card-header">
                    <h3>Comments</h3>
                </div>
                <div class="card-header">
                    <form action="">
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" placeholder="Add a comment.." id="comment" name="comment" required />
                            <button class="btn btn-primary" type="submit">Add comment</button>
                        </div>
                    </form>
                </div>
                <div class="card-body">
                    {% for comment in comments %}
                            <div class="card mb-3">
                                <div class="card-body">
                                    <p class="card-text"><strong class="text-primary">{{ comment.user }}:</strong> {{ comment.comment }}</p>
                                </div>
                            </div>
                        {% empty %}
                            <p class="text-center">No comments</p>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}