{% extends "auctions/layout.html" %}

{% block body %}

    <div class="mb-4 text-center">
        <h2>Login</h2>
    </div>

    {% if message %}
        <div>{{ message }}</div>
    {% endif %}

    <div class="d-block mx-auto" style="max-width:500px;">
        <form action="{% url 'login' %}" method="post">
            {% csrf_token %}
            <div class="mb-3">
                <input autofocus class="form-control" type="text" name="username" placeholder="Username">
            </div>
            <div class="mb-3">
                <input class="form-control" type="password" name="password" placeholder="Password">
            </div>
            <div class="mb-3 text-center">
                <input class="btn btn-primary" type="submit" value="Login" style="width:100%; max-width: 210px;">
            </div>
        </form>
    </div>

    <div class="text-center">
        Don't have an account? <a href="{% url 'register' %}">Register here.</a>
    </div>

{% endblock %}